<body>
    <h1>Welcome to CSE Motors!</h1>

    <div>
        <h2>DMC Delorean Reviews</h2>

        <ul>
            <li>"So fast it's almost like traveling in time."" (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristc ride of our day." (4.5/5)</li>
            <li>"80's livin and i love it!" (5/5)</li>
        </ul>
    </div>

    <div>
        <h2>Delorean Upgrades</h2>

        <div class = "card">
            <img src = "/images/flux-cap.png" alt = "Flux Capacitor">
        </div>

        <div class = "card">
            <img src = "/images/flame.jpg" alt = "Flame Decals">
        </div>

        <div class = "card">
            <img src = "/images/bumper_sticker.jpg" alt = "Bumper Stickers">
        </div>

        <div class = "card">
            <img src = "/images/hub-cap.jpg" alt = "Hub Caps">
        </div>

    </div>
</body>