@media screen and (min-width: 1200px){

    body{
        max-width: 1000px;
        margin: 0 auto;
        background-image: url(../images/site/small_check.jpg);
    }
    #wrapper{
        background-color: white;
        align-items: center;
    }

    #delorean-r-and-u{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }


    #vehicle-detail-content{
        display: flex
      }
}