<h1>Inventory Management</h1>
<% if (typeof notice !== 'undefined') { %>
    <p><%= notice %></p>
<% } %>
<ul>
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Inventory</a></li>
</ul>